.top-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 99vw;
    height: 100%;
    z-index: 0;

    &-2 {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
            ),
            url("/assets/images/top_background_2.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 400px;
    }

    &-3 {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
            ),
            url("/assets/images/top_background_3.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 400px;
    }

    &-4 {
        background: url("/assets/images/ProfileBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    &-5 {
        background: url("/assets/images/AiModelDetailsBackgroundArtWork.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    &-6 {
        background: url("/assets/images/AiModelDetailsBackgroundDescription.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
}

.bottom-background {
    position: absolute;
    left: 0;
    top: 400px;
    width: 99vw;
    height: 100%;
    z-index: -1;

    &-2 {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
            ),
            url("/assets/images/bottom_background_2.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
