.banner {
    width: 100%;
    color: white;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    @media (max-width: 1199px) {
        display: none;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        &-button {
            // width: 30%;
            text-align: center;
            margin-right: 5px;
            .text {
                font-family: Mali-SemiBold;
                font-size: 14px;
            }
            img {
                width: 100%;
                // height: 33px;
                margin-bottom: 13px;
            }
        }
        &-button:last-child{
            margin: 0;
        }
    }
    .left {
        position: relative;
        height: fit-content;
        .top-island {
            width: 95%;
        }
        .boat1 {
            position: absolute;
            top: 120px;
            right: 50px;
            animation: fly-y 30s ease-in-out 0s infinite;
            -webkit-animation: fly-y 30s ease-in-out 0s infinite;
            -moz-animation: fly-y 30s ease-in-out 0s infinite;
            -o-animation: fly-y 30s ease-in-out 0s infinite;
        }
        .boat2 {
            position: absolute;
            bottom: 140px;
            right: 50px;
            animation: fly-y 30s ease-in-out 0.5s infinite;
            -webkit-animation: fly-y 30s ease-in-out 0.5s infinite;
            -moz-animation: fly-y 30s ease-in-out 0.5s infinite;
            -o-animation: fly-y 30s ease-in-out 0.5s infinite;
        }
        .boat3 {
            position: absolute;
            bottom: -30px;
            left: 100px;
            animation: fly-y 30s ease-in-out 1s infinite;
            -webkit-animation: fly-y 30s ease-in-out 1s infinite;
            -moz-animation: fly-y 30s ease-in-out 1s infinite;
            -o-animation: fly-y 30s ease-in-out 1s infinite;
        }
        .move-cloud1 {
            position: absolute;
            bottom: 30px;
            right: -40px;
            animation: fly-x 30s ease-in-out 0s infinite;
            -webkit-animation: fly-x 30s ease-in-out 0s infinite;
            -moz-animation: fly-x 30s ease-in-out 0s infinite;
            -o-animation: fly-x 30s ease-in-out 0s infinite;
        }
        .move-cloud2 {
            position: absolute;
            bottom: -150px;
            right: 150px;
            animation: fly-x 30s ease-in-out 0.5s infinite;
            -webkit-animation: fly-x 30s ease-in-out 0.5s infinite;
            -moz-animation: fly-x 30s ease-in-out 0.5s infinite;
            -o-animation: fly-x 30s ease-in-out 0.5s infinite;
        }
    }
    .intro {
        max-width: 600px;
        width: 33.3%;
        @media (max-width: 1665px) {
            width: 27%;
        }
        @media (max-width: 1327px) {
            width: 25%;
        }
        .logo {
            text-align: right;
            @media (max-width: 1665px) {
                img {
                    width: 350px;
                }
            }
            @media (max-width: 1327px) {
                img {
                    width: 300px;
                }
            }
        }
        .title {
            display: flex;
            align-items: flex-end;
            font-size: 25px;
            color: #ae444c;
            font-weight: 600;
            font-family: Mali-Bold;
            margin-bottom: 13px;
            @media (max-width: 1665px) {
                font-size: 22px;
            }
            @media (max-width: 1327px) {
                font-size: 20px;
            }
            .text {
                position: relative;
                left: -20px;
            }
        }
        .description {
            font-size: 19px;
            color: #ae444c;
            font-weight: normal;
            font-family: Mali-SemiBold;
            max-width: 500px;
            margin-left: 30px;
            margin-bottom: 30px;
            @media (max-width: 1665px) {
                font-size: 17px;
            }
            @media (max-width: 1327px) {
                font-size: 15px;
            }
        }
        .block {
            width: fit-content;
            margin: 0 auto;
            .coming_soon {
                font-size: 36px;
                letter-spacing: 2px;
                color: #ffffff;
                font-weight: 500;
                font-family: Mali-Medium;
                filter: drop-shadow(0px 1px 4.5px rgba(194, 82, 91, 0.72));
                text-align: center;
                margin-bottom: 10px;
                @media (max-width: 1327px) {
                    font-size: 30px;
                }
            }
            .button {
                width: 300px;
                height: 50px;
                border-radius: 5px;
                background-color: #d2414c;
                font-size: 22px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Mali-SemiBold";
                text-align: center;
                border: none;
                @media (max-width: 1327px) {
                    font-size: 30px;
                    width: 250px;
                    font-size: 18px;
                }
            }
        }
    }
}

.banner-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px 100px 50px;
    .buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
        &-button {
            // width: 30%;
            text-align: center;
            margin-right: 5px;
            .text {
                font-family: Mali-SemiBold;
                font-size: 14px;
                color: #ae444c;;
            }
            img {
                width: 100%;
                // height: 33px;
                margin-bottom: 13px;
            }
        }
        &-button:last-child{
            margin: 0;
        }
    }
    @media (min-width: 1200px) {
        display: none;
    }
    @media (max-width: 600px) {
        padding: 0 20px;
    }
    .logo {
        img {
            @media (max-width: 466px) {
                width: 300px;
            }
        }
    }
    .title {
        display: flex;
        align-items: flex-end;
        font-size: 40px;
        color: #ae444c;
        font-weight: 600;
        font-family: Mali-Bold;
        margin-bottom: 13px;
        @media (max-width: 951px) {
            font-size: 30px;
        }
        @media (max-width: 757px) {
            font-size: 22px;
        }
        .text {
            position: relative;
            left: -20px;
        }
    }
    .island {
        position: relative;
        height: fit-content;
        margin-bottom: 30px;
        .top-island {
            width: 100%;
        }
        .boat1 {
            position: absolute;
            top: 50px;
            right: 0;
            animation: fly-y 30s ease-in-out 0s infinite;
            -webkit-animation: fly-y 30s ease-in-out 0s infinite;
            -moz-animation: fly-y 30s ease-in-out 0s infinite;
            -o-animation: fly-y 30s ease-in-out 0s infinite;
            @media (max-width: 800px) {
                width: 70px;
            }
            @media (max-width: 446px) {
                top: 0;
                width: 40px;
            }
        }
        .boat2 {
            position: absolute;
            bottom: 50px;
            right: 50px;
            animation: fly-y 30s ease-in-out 0.5s infinite;
            -webkit-animation: fly-y 30s ease-in-out 0.5s infinite;
            -moz-animation: fly-y 30s ease-in-out 0.5s infinite;
            -o-animation: fly-y 30s ease-in-out 0.5s infinite;
            @media (max-width: 600px) {
                bottom: 0;
            }
            @media (max-width: 446px) {
                width: 40px;
            }
        }
        .boat3 {
            position: absolute;
            bottom: 0;
            left: 0;
            animation: fly-y 30s ease-in-out 1s infinite;
            -webkit-animation: fly-y 30s ease-in-out 1s infinite;
            -moz-animation: fly-y 30s ease-in-out 1s infinite;
            -o-animation: fly-y 30s ease-in-out 1s infinite;
            @media (max-width: 800px) {
                width: 200px;
            }
            @media (max-width: 600px) {
                left: -50px;
                bottom: 0px;
            }
            @media (max-width: 466px) {
                width: 100px;
                left: 0;
            }
        }
    }
    .description {
        font-size: 39px;
        color: #ae444c;
        font-weight: normal;
        font-family: Mali-SemiBold;
        max-width: 1000px;
        margin-left: 30px;
        margin-bottom: 30px;
        @media (max-width: 900px) {
            font-size: 30px;
        }
        @media (max-width: 657px) {
            font-size: 25px;
        }
        @media (max-width: 600px) {
            font-size: 16px;
        }
    }
    .block {
        margin-top: 30px;
        width: fit-content;
        margin: 0 auto;
        @media (max-width: 461px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .coming_soon {
            font-size: 46px;
            letter-spacing: 2px;
            color: #ffffff;
            font-weight: 500;
            font-family: Mali-Medium;
            filter: drop-shadow(0px 1px 4.5px rgba(194, 82, 91, 0.72));
            text-align: center;
            margin-bottom: 10px;
            @media (max-width: 461px) {
                font-size: 35px;
                width: fit-content;
            }
        }
        .button {
            width: 369px;
            height: 50px;
            border-radius: 5px;
            background-color: #d2414c;
            font-size: 25px;
            color: #ffffff;
            font-weight: 600;
            font-family: "Mali-SemiBold";
            text-align: center;
            border: none;
            @media (max-width: 461px) {
                width: 300px;
            }
        }
    }
}

.teaser {
    max-width: 1132px;
    background: transparent;
    position: relative;

    :global {
        .modal-content {
            background-color: transparent;
            border: none;
        }
        .modal-body {
            padding: 0;
        }
    }

    .close-icon {
        width: 25px;
        height: 25px;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: -30px;
        margin-bottom: 5px;
        cursor: pointer;
        z-index: 100;
        @media (max-width: 768px) {
            display: none;
        }

        .mdiv {
            height: 25px;
            width: 2px;
            margin-left: 12px;
            background-color: white;
            transform: rotate(45deg);
            z-index: 1;

            .md {
                height: 25px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                z-index: 2;
            }
        }
    }
}

@keyframes fly-y {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }
}

@-moz-keyframes fly-y {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }
}

@-o-keyframes fly-y {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }
}

@-webkit-keyframes fly-y {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }
}

@keyframes fly-x {
    0%,
    100% {
        transform: translateX(0px) scaleX(1);
    }

    12.5%,
    87.5% {
        transform: translateX(-7.5px) scaleX(0.9);
    }

    25%,
    75% {
        transform: translateX(-15px) scaleX(1.1);
    }

    37.5%,
    62.5% {
        transform: translateX(-22.5px) scaleX(0.9);
    }

    50% {
        transform: translateX(-30px) scaleX(1);
    }
}

@-moz-keyframes fly-x {
    0%,
    100% {
        transform: translateX(0px) scaleX(1);
    }

    12.5%,
    87.5% {
        transform: translateX(-7.5px) scaleX(0.9);
    }

    25%,
    75% {
        transform: translateX(-15px) scaleX(1.1);
    }

    37.5%,
    62.5% {
        transform: translateX(-22.5px) scaleX(0.9);
    }

    50% {
        transform: translateX(-30px) scaleX(1);
    }
}

@-webkit-keyframes fly-x {
    0%,
    100% {
        transform: translateX(0px) scaleX(1);
    }

    12.5%,
    87.5% {
        transform: translateX(-7.5px) scaleX(0.9);
    }

    25%,
    75% {
        transform: translateX(-15px) scaleX(1.1);
    }

    37.5%,
    62.5% {
        transform: translateX(-22.5px) scaleX(0.9);
    }

    50% {
        transform: translateX(-30px) scaleX(1);
    }
}

@-o-keyframes fly-x {
    0%,
    100% {
        transform: translateX(0px) scaleX(1);
    }

    12.5%,
    87.5% {
        transform: translateX(-7.5px) scaleX(0.9);
    }

    25%,
    75% {
        transform: translateX(-15px) scaleX(1.1);
    }

    37.5%,
    62.5% {
        transform: translateX(-22.5px) scaleX(0.9);
    }

    50% {
        transform: translateX(-30px) scaleX(1);
    }
}
