.container {
    background: url("../../public/images/images/blue-light-bg.png");
    // background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    width: 100vw;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    @media (max-width: 1199px) {
        margin-top: -55px;
    }
    .title {
        padding-top: 10px;
        margin-bottom: 10px;
        background: linear-gradient(180deg, #f7bb97 0%, #ca1e58 80.73%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-family: Play;
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        line-height: 1.5;
        @media (max-width: 768px) {
            font-size: 50px;
        }
    }
    .calendar {
        max-width: 1100px;
        margin: auto;
        height: calc(100% + 70px);

        a {
            margin-right: 4px;
            color: #c6211b;
            font-size: 16px;
            font-weight: bold;
        }
        :global {
            .fc-view {
                border-radius: 50px !important;
                overflow: hidden;

                @media (max-width: 600px) {
                    border-radius: 25px !important;
                }
            }
            .fc .fc-scrollgrid-section > td {
                border: none !important;
            }

            .fc-dayGridMonth-button {
                visibility: hidden;
                @media (max-width: 600px) {
                    display: none;
                }
            }

            .fc-timeGridWeek-button {
                visibility: hidden;
                @media (max-width: 600px) {
                    display: none;
                }
            }

            .fc-timeGridDay-button {
                visibility: hidden;
                @media (max-width: 600px) {
                    display: none;
                }
            }

            thead {
                th {
                    border: none;
                }
            }
            tbody {
                .fc-daygrid-day {
                    border: 1px solid white !important;
                }
            }
            .fc-header-toolbar {
                margin-bottom: 20px !important;
            }
            .fc-toolbar-title {
                background: linear-gradient(180deg, #f7bb97 0%, #ca1e58 80.73%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Play;
                font-weight: bold;
                font-size: 32px;
                line-height: 56px;
                @media (max-width: 968px) {
                    font-size: 40px;
                }
            }

            .fc-daygrid-event {
                border-radius: 4px;
                // border: none;
            }
            .fc-day-today {
                background: linear-gradient(
                    180deg,
                    rgba(255, 128, 111, 0.35) -9.91%,
                    rgba(255, 128, 111, 0.035) 100%
                ) !important;
            }
            .fc-timegrid-slot-label-cushion,
            .fc-timegrid-axis-cushion {
                color: #f0f0f0;
            }
            .fc-scrollgrid {
                border: none !important;
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.3) 0%,
                    rgba(255, 255, 255, 0.075) 100%
                );
            }
            .fc-scroller {
                overflow: none !important;
                height: auto !important;
            }
            .fc-day-grid-container.fc-scroller {
                height: auto !important;
                overflow-y: auto;
            }
            .fc-scrollgrid thead {
                backdrop-filter: blur(50px);
                background: rgba(255, 255, 255, 0.7);
                overflow-y: hidden !important;
            }
            thead .fc-scrollgrid-sync-inner {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 600px) {
                    height: 60px;
                }
            }
            .fc-scrollgrid thead a {
                background: linear-gradient(180deg, #ff9966 0%, #ff5e62 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Play;
                font-style: bold;
                font-size: 20px;
            }
            .fc-h-event {
                margin-bottom: 1px !important;
                background: #ff806f !important;
                border: 1px solid #ff806f !important;
                height: 30px;
                @media (max-width: 1500px) {
                    height: 22px;
                }
                @media (max-width: 768px) {
                    height: 18px;
                }
            }
            .fc-event-title {
                padding: 2px;
                cursor: pointer;
                font-family: Play;
                font-size: 18px;
                color: white;
                height: 100%;
                border-radius: 4px;
                @media (max-width: 1500px) {
                    font-size: 16px;
                }
                @media (max-width: 1344px) {
                    font-size: 14px;
                }
                @media (max-width: 768px) {
                    font-size: 12px;
                    padding: 0px;
                }
            }

            .fc-daygrid-day-frame {
                min-height: 120px !important;

                @media (max-width: 672px) {
                    min-height: 100px !important;
                }
            }

            .fc-button {
                margin: 0px !important;
                background-color: rgba(255, 255, 255, 0.5);
                color: rgba(202, 30, 88, 1);
                font-size: 20px;
                font-weight: bold;
                border: none;
                @media (max-width: 1500px) {
                    font-size: 22px !important;
                }
                @media (max-width: 968px) {
                    font-size: 18px !important;
                }
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
            .fc-button:hover,
            .fc-today-button:hover,
            .fc-button:focus {
                color: rgba(202, 30, 88, 1) !important;
                background-color: rgba(240, 182, 201, 0.5) !important;
                box-shadow: none !important;
            }
            .fc-button-active {
                color: rgba(202, 30, 88, 1) !important;
                background-color: rgba(240, 182, 201, 0.5) !important;
            }

            .fc-today-button {
                margin-left: 60px !important;
                color: #ca1e58 !important;
                font-size: 20px!important;
                background-color: rgba(255, 255, 255, 0.5) !important;
                @media (max-width: 968px) {
                    margin-left: 16px !important;
                }
                @media (max-width: 768px) {
                    margin-left: 10px !important;
                }
            }
            .fc-today-button:disabled {
                color: rgba(202, 30, 88, 1) !important;
                background-color: rgba(240, 182, 201, 0.5) !important;
                opacity: 0.8;
                font-size: px!important;
            }
            .fc-timegrid-axis-frame,
            .fc-timegrid-slot-label-frame {
                background: linear-gradient(
                    180deg,
                    #f7bb97 0%,
                    #ca1e58 80.73%
                ) !important;
                background-clip: text !important;
                -webkit-background-clip: text !important;

                -webkit-text-fill-color: transparent;
                font-family: Play;
                font-weight: bold;
            }
            @media only screen and (max-width: 672px) {
                a {
                    font-size: 16px;
                }
                .fc-header-toolbar {
                    display: flex;
                    flex-direction: column;
                    margin: 10px !important;
                }
                .fc-scrollgrid thead a {
                    font-size: 20px;
                }
                .fc-header-toolbar .fc-toolbar-chunk {
                    margin-bottom: 20px;
                }
                .fc-view-harness {
                    margin: 12px;
                    // height: 500px !important;
                }
            }
        }
    }
}
